html {
  margin: 0;
  padding: 0;
}
body {
  background-color:rgb(199, 211, 133);
}

header {
  width: 100%;
  height: 30px;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
}

#defaultCanvas0 {
  background-color:rgb(247, 185, 246);
}